<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsfeed"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_lighten"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_lighten_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebviewActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SourceActivity"
            android:parentActivityName=".FollowingActivity" />
        <activity
            android:name=".FollowingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiscoveryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StarsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".FullCoverageActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".GroupActivity"></activity>
    </application>

</manifest>